@charset "UTF-8";
@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: local("☺"), url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.ttf") format("truetype"), url("../fonts/MuseoSansCyrl-300.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSansCyrl-500.eot");
  src: local("☺"), url("../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl-500.ttf") format("truetype"), url("../fonts/MuseoSansCyrl-500.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: local("☺"), url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.ttf") format("truetype"), url("../fonts/MuseoSansCyrl-700.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSansCyrl-900.eot");
  src: local("☺"), url("../fonts/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSansCyrl-900.ttf") format("truetype"), url("../fonts/MuseoSansCyrl-900.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MyriadPro-Regular.eot");
  src: local("☺"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeue';
  src: url("../fonts/BebasNeueRegular.eot");
  src: local("☺"), url("../fonts/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular.ttf") format("truetype"), url("../fonts/BebasNeueRegular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

.none {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'MuseoSans', sans-serif;
  font-style: normal;
}

.body__lock {
  overflow: hidden;
}

.container {
  max-width: 1270px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 19px 79px;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #fff;
  border: 3px solid #fff;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 13px 24px;
  background-color: #fff;
  border: 1px solid #bbc0c5;
  outline: none;
  font-family: 'MuseoSans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #444242;
  -webkit-appearance: none;
}

input::-webkit-input-placeholder {
  font-family: 'MuseoSans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #afafaf;
}

input:-moz-placeholder {
  font-family: 'MuseoSans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #afafaf;
}

input::-moz-placeholder {
  font-family: 'MuseoSans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #afafaf;
}

input:-ms-input-placeholder {
  font-family: 'MuseoSans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #afafaf;
}

@media (max-width: 768px) {
  input {
    padding: 10px 20px;
  }
}

.title {
  font-weight: 900;
  font-size: 50px;
  color: #fff;
}

@media (max-width: 768px) {
  .title {
    font-size: 35px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 25px;
  }
}

.real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.real-checkbox:checked + .custom-checkbox::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.custom-checkbox {
  position: relative;
  margin-right: 8px;
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 1px solid #d7dbde;
  cursor: pointer;
}

.custom-checkbox::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  width: 12px;
  height: 12px;
  background-image: url("../img/application/check-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.checkbox-text {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

@media (max-width: 550px) {
  .checkbox-text {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .checkbox-text {
    font-size: 10px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 33px;
  padding-bottom: 33px;
}

@media (max-width: 768px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__logo_tablet {
  display: none;
}

.header__logo_tablet img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .header__logo_tablet {
    display: block;
  }
}

@media (max-width: 550px) {
  .header__logo_tablet {
    width: 100px;
  }
}

@media (max-width: 768px) {
  .header__nav {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(26, 59, 96, 0.6);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    -webkit-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    z-index: 11;
  }
}

.header__nav_active {
  opacity: 1;
  visibility: visible;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header__list {
    padding-top: 55px;
    padding-right: 33px;
    padding-bottom: 33px;
    padding-left: 33px;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    background-color: #1a3b60;
    right: 0;
    top: 0;
    bottom: 0;
    width: 450px;
    height: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
}

@media (max-width: 550px) {
  .header__list {
    width: 350px;
  }
}

@media (max-width: 450px) {
  .header__list {
    width: 280px;
  }
}

@media (max-width: 350px) {
  .header__list {
    width: 250px;
  }
}

.header__list_active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .header__list-item {
    margin-bottom: 30px;
  }
  .header__list-item:last-child {
    margin-bottom: 0;
  }
}

.header__list-link {
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header__list-link {
    font-size: 24px;
  }
}

@media (max-width: 550px) {
  .header__list-link {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .header__logo {
    display: none;
  }
}

.header__burger {
  display: none;
}

@media (max-width: 768px) {
  .header__burger {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 45px;
    height: 45px;
    z-index: 11;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
}

.header__burger_active {
  -webkit-transform: translateX(-440px);
          transform: translateX(-440px);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

@media (max-width: 550px) {
  .header__burger_active {
    -webkit-transform: translateX(-340px);
            transform: translateX(-340px);
  }
}

@media (max-width: 450px) {
  .header__burger_active {
    -webkit-transform: translateX(-270px);
            transform: translateX(-270px);
  }
}

@media (max-width: 350px) {
  .header__burger_active {
    -webkit-transform: translateX(-235px);
            transform: translateX(-235px);
  }
}

.header__burger-icon {
  position: relative;
  width: 35px;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-transition: background-color 0.2s ease-in 0.2s;
  transition: background-color 0.2s ease-in 0.2s;
}

.header__burger-icon::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 2px;
  top: -12px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.header__burger-icon::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 2px;
  top: 12px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.header__burger-icon_active {
  background-color: transparent;
}

.header__burger-icon_active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.header__burger-icon_active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.header__burger-close {
  display: none;
}

@media (max-width: 768px) {
  .header__burger-close {
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 45px;
    height: 45px;
    right: 33px;
    top: 33px;
  }
}

@media (max-width: 550px) {
  .header__burger-close {
    right: 25px;
    top: 25px;
  }
}

.header__burger-close-icon {
  position: relative;
  width: 40px;
  height: 2px;
  background-color: transparent;
}

.header__burger-close-icon::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 2px;
  top: -15px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.header__burger-close-icon::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 2px;
  bottom: -15px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.hero {
  padding-top: 327px;
  padding-bottom: 180px;
  background-image: url("../img/hero/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .hero {
    padding-top: 300px;
    padding-bottom: 155px;
  }
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  margin-bottom: 33px;
  font-size: 900px;
  font-size: 65px;
  text-align: center;
  color: #fff;
}

@media (max-width: 768px) {
  .hero__title {
    font-size: 50px;
    margin-bottom: 25px;
  }
}

@media (max-width: 550px) {
  .hero__title {
    font-size: 40px;
  }
}

@media (max-width: 450px) {
  .hero__title {
    font-size: 30px;
  }
}

.header__undertitle {
  max-width: 800px;
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  text-align: center;
}

@media (max-width: 768px) {
  .header__undertitle {
    font-size: 20px;
    margin-bottom: 35px;
  }
}

@media (max-width: 550px) {
  .header__undertitle {
    font-size: 18px;
    margin-bottom: 30px;
  }
}

@media (max-width: 450px) {
  .header__undertitle {
    font-size: 16px;
  }
}

.hero__btn:hover {
  border: 3px solid #002e45;
  background-color: #fff;
  color: #002e45;
}

@media (max-width: 768px) {
  .hero__btn {
    padding: 15px 60px;
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  .hero__btn {
    font-size: 18px;
  }
}

.why {
  padding-top: 60px;
  padding-bottom: 30px;
  width: 100%;
  height: 953px;
  background-image: url("../img/why/why-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 1300px) {
  .why {
    height: 875px;
  }
}

@media (max-width: 1050px) {
  .why {
    height: 710px;
  }
}

@media (max-width: 768px) {
  .why {
    display: none;
  }
}

.why__title {
  text-align: center;
  color: #1A3B60;
}

.why__content {
  position: relative;
  height: 100%;
  width: 100%;
}

.why__items-wrap {
  position: relative;
  width: 1130px;
  height: 610px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1300px) {
  .why__items-wrap {
    width: 1055px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    bottom: 18px;
    left: -3%;
  }
}

@media (max-width: 1050px) {
  .why__items-wrap {
    width: 768px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    bottom: 123px;
    left: -11%;
  }
}

@media (max-width: 830px) {
  .why__items-wrap {
    left: -16%;
  }
}

.why__item {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1300px) {
  .why__item {
    width: auto;
  }
}

.why__item1 {
  bottom: 0;
  left: -28px;
  z-index: 10;
}

.why__item2 {
  bottom: -12px;
  left: 0;
  z-index: 9;
}

.why__item3 {
  bottom: -13px;
  left: 198px;
  z-index: 8;
}

.why__item4 {
  bottom: 5px;
  left: 278px;
  z-index: 7;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.why__item5 {
  bottom: -13px;
  left: 462px;
  z-index: 6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.why__item6 {
  bottom: -13px;
  left: 579px;
  z-index: 5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.why__item7 {
  bottom: -13px;
  left: 578px;
  z-index: 4;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.why__item8 {
  bottom: -13px;
  left: 578px;
  z-index: 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.why__item9 {
  bottom: -13px;
  left: 578px;
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.why__item10 {
  bottom: -4px;
  left: 457px;
  z-index: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1050px) {
  .why__item10 {
    left: 475px;
  }
}

.why__item-img {
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.why__item-circle {
  position: relative;
  width: 31px;
  height: 31px;
}

.why__item-circle1 {
  top: -20px;
  left: 35px;
}

.why__item-circle2 {
  top: -20px;
  left: 94px;
}

.why__item-circle3 {
  top: -85px;
  left: 108px;
}

.why__item-circle4 {
  top: -38px;
  left: 54px;
}

.why__item-circle5 {
  top: -48px;
  left: 42px;
}

.why__item-circle6 {
  top: -39px;
  left: 50px;
}

.why__item-circle7 {
  top: -20px;
  left: 245px;
}

.why__item-circle8 {
  top: -3px;
  left: 195px;
}

.why__item-circle9 {
  top: 22px;
  left: 289px;
}

.why__item-circle10 {
  top: 1px;
  left: 660px;
}

.why__item-text {
  position: relative;
  color: #3C3C3B;
  font-family: 'MyriadPro', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.why__item-text1 {
  right: 26px;
  top: 22px;
}

.why__item-text2 {
  right: -15px;
  top: 22px;
}

.why__item-text3 {
  text-align: center;
  right: -38px;
  top: -49px;
}

.why__item-text4 {
  text-align: center;
  right: 86px;
  top: -29px;
}

.why__item-text5 {
  text-align: center;
  right: 2px;
  top: -35px;
}

.why__item-text6 {
  text-align: center;
  right: -10px;
  top: -25px;
}

.why__item-text7 {
  text-align: center;
  right: -109px;
  top: -6px;
}

.why__item-text8 {
  text-align: center;
  right: -117px;
  top: 10px;
}

.why__item-text9 {
  text-align: center;
  right: -181px;
  top: 34px;
}

.why__item-text10 {
  text-align: right;
  right: -583px;
  top: 41px;
}

@media (max-width: 1050px) {
  .why__item-text10 {
    right: -559px;
    top: 41px;
    width: 100px;
  }
}

.why__mid {
  position: relative;
  width: 272px;
  height: 272px;
  bottom: 129px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 11;
}

@media (max-width: 1300px) {
  .why__mid {
    width: 210px;
    height: 210px;
    bottom: 178px;
  }
}

@media (max-width: 1050px) {
  .why__mid {
    width: 170px;
    height: 170px;
    bottom: 325px;
  }
}

.why__mid-bg {
  width: 100%;
  height: 100%;
}

.why__mid-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 1300px) {
  .why__mid-logo {
    width: 80px;
  }
}

.why__bottom {
  width: 874px;
  height: 195px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.why__bottom img {
  width: 100%;
}

@media (max-width: 1300px) {
  .why__bottom {
    width: 710px;
  }
}

@media (max-width: 1050px) {
  .why__bottom {
    width: 520px;
  }
}

.application {
  position: relative;
  padding-top: 99px;
  padding-bottom: 103px;
  background-image: url("../img/application/application-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .application {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

@media (max-width: 500px) {
  .application {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.application_first::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -2px;
  background-color: #002e45;
}

@media (max-width: 768px) {
  .application_first::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    top: -2px;
    background-color: #002e45;
  }
}

.application__content {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 49px 23px 42px 23px;
  background-color: #002e45;
}

@media (max-width: 1140px) {
  .application__content {
    padding: 25px 20px;
    width: 900px;
  }
}

@media (max-width: 960px) {
  .application__content {
    width: 770px;
  }
}

@media (max-width: 800px) {
  .application__content {
    width: 560px;
  }
}

@media (max-width: 600px) {
  .application__content {
    padding: 15px 15px;
    width: 95%;
  }
}

@media (max-width: 450px) {
  .application__content {
    width: 100%;
  }
}

.application__title {
  margin-bottom: 20px;
  text-align: center;
}

.application__title_third {
  font-size: 35px;
}

@media (max-width: 500px) {
  .application__title_third {
    font-size: 25px;
  }
}

.application__undertitle {
  margin-bottom: 42px;
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  text-align: center;
}

@media (max-width: 768px) {
  .application__undertitle {
    font-size: 20px;
  }
}

.application__form {
  width: 100%;
}

.application__form-cols {
  margin-bottom: 23px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .application__form-cols {
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.application__col {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1140px) {
  .application__col {
    width: 32%;
  }
}

@media (max-width: 800px) {
  .application__col {
    margin-bottom: 28px;
    width: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 600px) {
  .application__col {
    width: 100%;
  }
}

.application__input-name {
  position: relative;
  margin-bottom: 28px;
}

.application__input-name label {
  position: absolute;
  top: 50%;
  left: 24px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-family: 'MuseoSans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #afafaf;
}

.application__input-name label span {
  font-weight: 500;
  font-size: 18px;
  color: #c60000;
}

.application__input-name input:valid + label {
  display: none;
}

.application__input-name input:focus + label {
  display: none;
}

@media (max-width: 800px) {
  .application__input-name {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .application__input-name {
    width: 100%;
  }
}

.application__input-tel {
  position: relative;
  margin-bottom: 28px;
}

.application__input-tel label {
  position: absolute;
  top: 50%;
  left: 24px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-family: 'MuseoSans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #afafaf;
}

.application__input-tel label span {
  font-weight: 500;
  font-size: 18px;
  color: #c60000;
}

.application__input-tel input:valid + label {
  display: none;
}

.application__input-tel input:focus + label {
  display: none;
}

@media (max-width: 800px) {
  .application__input-tel {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .application__input-tel {
    width: 100%;
  }
}

.applciation__btn {
  margin-top: 28px;
  padding-top: 10px;
  padding-bottom: 11px;
  background-color: transparent;
}

.applciation__btn:hover {
  border: 3px solid #002e45;
  background-color: #fff;
  color: #002e45;
}

@media (max-width: 768px) {
  .applciation__btn {
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  .applciation__btn {
    font-size: 18px;
  }
}

@media (max-width: 368px) {
  .applciation__btn {
    width: 100%;
  }
}

.application__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.application__checkbox label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.cases__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cases__item {
  position: relative;
  height: 450px;
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.cases__item:hover .cases__item-logo {
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.cases__item:hover .cases__item-desc {
  opacity: 1;
  bottom: 50%;
  -webkit-transform: translate(0, 40%);
          transform: translate(0, 40%);
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

@media (max-width: 1400px) {
  .cases__item {
    height: 370px;
  }
}

@media (max-width: 1200px) {
  .cases__item {
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 768px) {
  .cases__item {
    height: 350px;
  }
}

.cases__item1 {
  background-image: url("../img/cases/cases-item-bg1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.cases__item2 {
  background-image: url("../img/cases/cases-item-bg2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.cases__item3 {
  background-image: url("../img/cases/cases-item-bg3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.cases__item4 {
  background-image: url("../img/cases/cases-item-bg4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .cases__item4 {
    background-position: top;
  }
}

.cases__item5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cases__item5:hover .cases__item-desc {
  top: 0;
}

.cases__item6 {
  background-image: url("../img/cases/cases-item-bg6.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.cases__item6:hover .cases__item-title6 {
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: translate(0);
          transform: translate(0);
}

@media (max-width: 1200px) {
  .cases__item6 {
    background-position: top;
  }
}

.cases__item7 {
  background-image: url("../img/cases/cases-item-bg7.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.cases__item7 .cases__item-desc7 {
  color: #000 !important;
}

.cases__item8 {
  background-image: url("../img/cases/cases-item-bg8.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.cases__item8 .cases__item-logo {
  width: 100%;
}

.cases__item9 {
  background-image: url("../img/cases/cases-item-bg9.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.cases__item-logo {
  max-width: 500px;
  max-height: 500px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

@media (max-width: 1380px) {
  .cases__item-logo {
    max-width: 300px;
    max-height: 300px;
  }
}

@media (max-width: 550px) {
  .cases__item-logo {
    max-width: 200px;
    max-height: 200px;
  }
}

.cases__item-title {
  margin-bottom: 50px;
  color: #000;
}

.cases__item-desc {
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  bottom: -100%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  opacity: 0;
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

@media (max-width: 550px) {
  .cases__item-desc {
    font-size: 20px;
  }
}

.cases__item-desc5 {
  position: relative;
  top: 0;
  margin-bottom: 5px;
  white-space: pre;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 27px;
  opacity: 1;
  color: #1e2c34;
}

.cases__item-desc5:last-child {
  margin-bottom: 0;
}

.cases__item-desc5 span {
  font-weight: 900;
  font-size: 27px;
  color: #000;
}

@media (max-width: 1380px) {
  .cases__item-desc5 span {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .cases__item-desc5 span {
    font-size: 18px;
  }
}

@media (max-width: 1380px) {
  .cases__item-desc5 {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .cases__item-desc5 {
    font-size: 18px;
  }
}

.presentation {
  padding-top: 280px;
  padding-bottom: 500px;
  background-image: url("../img/presentation/presentation-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 1200px) {
  .presentation {
    padding-top: 250px;
    padding-bottom: 400px;
  }
}

@media (max-width: 768px) {
  .presentation {
    padding-top: 200px;
    padding-bottom: 350px;
  }
}

@media (max-width: 600px) {
  .presentation {
    padding-bottom: 280px;
  }
}

@media (max-width: 400px) {
  .presentation {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.presentation__content {
  position: relative;
  left: 45%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media (max-width: 1030px) {
  .presentation__content {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.presentation__title {
  margin-bottom: 40px;
  color: #062b50;
}

@media (max-width: 1030px) {
  .presentation__title {
    text-align: center;
  }
}

.presentation__undertitle {
  margin-bottom: 90px;
  font-weight: 500;
  font-size: 26px;
  color: #062b50;
}

@media (max-width: 1030px) {
  .presentation__undertitle {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .presentation__undertitle {
    margin-bottom: 70px;
    font-size: 20px;
  }
}

@media (max-width: 550px) {
  .presentation__undertitle {
    margin-bottom: 50px;
  }
}

@media (max-width: 450px) {
  .presentation__undertitle {
    font-size: 18px;
  }
}

.presentation__btn {
  padding: 18px 23px 16px 23px;
  border-color: #1e2c34;
  color: #1e2c34;
}

.presentation__btn:hover {
  border: 3px solid #fff;
  background-color: #1e2c34;
  color: #fff;
}

@media (max-width: 768px) {
  .presentation__btn {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .presentation__btn {
    padding: 15px 20px;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .presentation__btn {
    font-size: 18px;
  }
}

.clients {
  padding-top: 95px;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .clients {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.clinets__title {
  margin-bottom: 50px;
  color: #1A3B60;
  text-align: center;
}

.clients__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clients__row {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__row:last-child {
  margin-bottom: 0;
}

@media (max-width: 600px) {
  .clients__row {
    margin-bottom: 0;
  }
}

.clients__img {
  width: 10%;
}

.clients__img img {
  width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.clients__img:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

@media (max-width: 768px) {
  .clients__img {
    width: 13%;
  }
}

@media (max-width: 600px) {
  .clients__img {
    margin-bottom: 25px;
    width: 26%;
  }
}

@media (max-width: 400px) {
  .clients__img {
    margin-bottom: 15px;
  }
}

.reviews {
  padding-top: 87px;
  padding-bottom: 136px;
}

.reviews .container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .reviews {
    padding-top: 60px;
    padding-bottom: 80px;
  }
}

@media (max-width: 550px) {
  .reviews {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.reviews__title {
  margin-bottom: 118px;
  color: #000;
  text-align: center;
}

@media (max-width: 768px) {
  .reviews__title {
    margin-bottom: 60px;
  }
}

@media (max-width: 500px) {
  .reviews__title {
    margin-bottom: 40px;
  }
}

.reviews__content {
  width: 100%;
}

.reviews__content.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 38%;
  right: -65px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 45px;
  height: 45px;
  background-image: url("../img/reviews/arrow-next.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

.reviews__content.owl-carousel .owl-nav button.owl-next span {
  display: none;
}

@media (max-width: 1200px) {
  .reviews__content.owl-carousel .owl-nav button.owl-next {
    right: -42px;
  }
}

@media (max-width: 500px) {
  .reviews__content.owl-carousel .owl-nav button.owl-next {
    right: -36px;
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 400px) {
  .reviews__content.owl-carousel .owl-nav button.owl-next {
    width: 30px;
    height: 30px;
  }
}

.reviews__content.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 38%;
  left: -30px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 45px;
  height: 45px;
  background-image: url("../img/reviews/arrow-prev.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

.reviews__content.owl-carousel .owl-nav button.owl-prev span {
  display: none;
}

@media (max-width: 1200px) {
  .reviews__content.owl-carousel .owl-nav button.owl-prev {
    left: 0;
  }
}

@media (max-width: 500px) {
  .reviews__content.owl-carousel .owl-nav button.owl-prev {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 400px) {
  .reviews__content.owl-carousel .owl-nav button.owl-prev {
    width: 30px;
    height: 30px;
  }
}

.reviews__item {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (max-width: 1200px) {
  .reviews__item {
    position: relative;
    width: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media (max-width: 520px) {
  .reviews__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__item-img {
  margin-right: 26px;
  width: 190px !important;
  height: 190px !important;
  border-radius: 50%;
}

.reviews__item-img img {
  width: 190px !important;
  height: 190px !important;
}

@media (max-width: 650px) {
  .reviews__item-img img {
    width: 140px !important;
    height: 140px !important;
  }
}

@media (max-width: 650px) {
  .reviews__item-img {
    margin-bottom: 10px;
    width: 140px !important;
    height: 140px !important;
  }
}

@media (max-width: 520px) {
  .reviews__item-img {
    margin-right: 0;
  }
}

.reviews__item-name {
  margin-bottom: 5px;
  font-weight: 900;
  font-size: 25px;
  color: #000;
}

@media (max-width: 520px) {
  .reviews__item-name {
    text-align: center;
  }
}

.reviews__item-company {
  margin-bottom: 27px;
  font-weight: 900;
  font-size: 15px;
  color: #000;
}

@media (max-width: 520px) {
  .reviews__item-company {
    text-align: center;
  }
}

.reviews__item-text,
.reviews__item-link {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 15px;
  color: #000;
}

.reviews__item-link {
  margin-bottom: 0;
}

.team {
  position: relative;
  padding-top: 380px;
  padding-bottom: 335px;
  max-width: 100%;
}

@media (max-width: 1200px) {
  .team {
    padding-top: 340px;
    padding-bottom: 300px;
  }
}

@media (max-width: 1090px) {
  .team {
    padding-top: 280px;
    padding-bottom: 250px;
  }
}

@media (max-width: 768px) {
  .team {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media (max-width: 600px) {
  .team {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

@media (max-width: 450px) {
  .team {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.team__bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.team__bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__content {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  max-width: 1090px;
  margin-left: auto;
  margin-right: auto;
}

.team__title {
  margin-bottom: 49px;
}

.team__desc {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #fff;
}

.team__desc:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .team__desc {
    margin-bottom: 20px;
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .team__desc {
    font-size: 18px;
  }
}

@media (max-width: 350px) {
  .team__desc {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

.questions {
  padding-top: 80px;
  padding-bottom: 70px;
}

@media (max-width: 768px) {
  .questions {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.questions__title {
  margin-bottom: 42px;
  color: #000;
  text-align: center;
}

.questions__item {
  margin-bottom: 40px;
}

.questions__item:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .questions__item {
    margin-bottom: 30px;
  }
}

@media (max-width: 550px) {
  .questions__item {
    margin-bottom: 20px;
  }
}

.question__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.question__item-title p span {
  font-weight: 900;
  font-size: 26px;
  color: #000;
  border-bottom: 3px dotted #000;
}

@media (max-width: 768px) {
  .question__item-title p span {
    font-size: 24px;
  }
}

@media (max-width: 550px) {
  .question__item-title p span {
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  .question__item-title p span {
    font-size: 18px;
  }
}

.question__item-icon {
  margin-right: 7px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.question__item-icon_active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.question__item-desc {
  margin-top: 16px;
  margin-left: 20px;
  font-weight: 500;
  font-size: 16px;
  color: #666666;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

.footer {
  padding-top: 40px;
  padding-bottom: 60px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 950px) {
  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 950px) {
  .footer__logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 45%;
  }
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__socials a {
  margin-right: 25px;
}

.footer__socials a:last-child {
  margin-right: 0;
}

@media (max-width: 950px) {
  .footer__socials {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: 45%;
  }
}

.footer__tel,
.footer__location,
.footer__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__tel img,
.footer__location img,
.footer__mail img {
  margin-right: 14px;
}

.footer__tel p,
.footer__location p,
.footer__mail p {
  font-weight: 500;
  font-size: 19px;
  color: #1E2C34;
}

@media (max-width: 950px) {
  .footer__tel,
  .footer__location,
  .footer__mail {
    margin-top: 30px;
    width: auto;
  }
}

@media (max-width: 950px) {
  .footer__tel {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media (max-width: 500px) {
  .footer__tel {
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 950px) {
  .footer__location {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 500px) {
  .footer__location {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 950px) {
  .footer__mail {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

@media (max-width: 720px) {
  .footer__mail {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.modal__wrap_form,
.modal__wrap_thanks {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(37, 37, 37, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 11;
}

.modal__wrap_form_active,
.modal__wrap_thanks_active {
  opacity: 1;
  visibility: visible;
}

.modal__form-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 700px;
  padding: 45px;
  background: #1A3B60;
}

@media (max-width: 740px) {
  .modal__form-wrap {
    width: 575px;
  }
}

@media (max-width: 600px) {
  .modal__form-wrap {
    padding: 25px;
    width: 400px;
  }
}

@media (max-width: 420px) {
  .modal__form-wrap {
    width: 290px;
  }
}

.modal__thanks-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  padding: 45px;
  background: #1A3B60;
}

@media (max-width: 420px) {
  .modal__thanks-wrap {
    width: 300px;
    padding: 20px;
  }
}

.modal__form-close,
.modal__thanks-close {
  position: absolute;
  right: 20px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.modal__form-close span,
.modal__thanks-close span {
  position: relative;
  width: 40px;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal__form-close span::before,
.modal__thanks-close span::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media (max-width: 600px) {
  .modal__form-close span::before,
  .modal__thanks-close span::before {
    width: 25px;
  }
}

@media (max-width: 600px) {
  .modal__form-close span,
  .modal__thanks-close span {
    width: 25px;
  }
}

@media (max-width: 600px) {
  .modal__form-close,
  .modal__thanks-close {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 420px) {
  .modal__form-close,
  .modal__thanks-close {
    right: 10px;
    top: 10px;
  }
}

.form__title {
  text-align: center;
  margin-bottom: 30px;
}

.modal__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__cols-wrap {
  margin-bottom: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__form-col {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal__form-col input {
  width: 47%;
}

@media (max-width: 600px) {
  .modal__form-col input {
    margin-bottom: 20px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .modal__form-col {
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.form__input-name {
  width: 47%;
  position: relative;
}

.form__input-name label {
  position: absolute;
  top: 50%;
  left: 24px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-family: 'MuseoSans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #afafaf;
}

.form__input-name label span {
  font-weight: 500;
  font-size: 18px;
  color: #c60000;
}

@media (max-width: 600px) {
  .form__input-name label {
    top: 37%;
  }
}

.form__input-name input:valid + label {
  display: none;
}

.form__input-name input:focus + label {
  display: none;
}

.form__input-name input {
  width: 100%;
}

@media (max-width: 600px) {
  .form__input-name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.form__input-tel {
  width: 47%;
  position: relative;
}

.form__input-tel label {
  position: absolute;
  top: 50%;
  left: 24px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-family: 'MuseoSans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #afafaf;
}

.form__input-tel label span {
  font-weight: 500;
  font-size: 18px;
  color: #c60000;
}

@media (max-width: 600px) {
  .form__input-tel label {
    top: 37%;
  }
}

.form__input-tel input:valid + label {
  display: none;
}

.form__input-tel input:focus + label {
  display: none;
}

.form__input-tel input {
  width: 100%;
}

@media (max-width: 600px) {
  .form__input-tel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.form__btn {
  width: 47%;
  padding-top: 9px;
  padding-bottom: 10px;
  background-color: transparent;
}

.form__btn:hover {
  border: 3px solid #002e45;
  background-color: #fff;
  color: #002e45;
}

@media (max-width: 600px) {
  .form__btn {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 420px) {
  .form__btn {
    width: 100%;
  }
}

.modal__thanks-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.modal__thanks-content p {
  margin-bottom: 30px;
  font-size: 30px;
  color: #fff;
}

.modal__thanks-content p:last-child {
  margin-bottom: 0;
}
/*# sourceMappingURL=main.css.map */