@font-face {
	font-family: 'MuseoSans';
	src: url('../fonts/MuseoSansCyrl-300.eot');
	src: local('☺'), url('../fonts/MuseoSansCyrl-300.woff') format('woff'), url('../fonts/MuseoSansCyrl-300.ttf') format('truetype'), url('../fonts/MuseoSansCyrl-300.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSans';
	src: url('../fonts/MuseoSansCyrl-500.eot');
	src: local('☺'), url('../fonts/MuseoSansCyrl-500.woff') format('woff'), url('../fonts/MuseoSansCyrl-500.ttf') format('truetype'), url('../fonts/MuseoSansCyrl-500.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSans';
	src: url('../fonts/MuseoSansCyrl-700.eot');
	src: local('☺'), url('../fonts/MuseoSansCyrl-700.woff') format('woff'), url('../fonts/MuseoSansCyrl-700.ttf') format('truetype'), url('../fonts/MuseoSansCyrl-700.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSans';
	src: url('../fonts/MuseoSansCyrl-900.eot');
	src: local('☺'), url('../fonts/MuseoSansCyrl-900.woff') format('woff'), url('../fonts/MuseoSansCyrl-900.ttf') format('truetype'), url('../fonts/MuseoSansCyrl-900.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro-Regular.eot');
	src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/BebasNeueRegular.eot');
	src: local('☺'), url('../fonts/BebasNeueRegular.woff') format('woff'), url('../fonts/BebasNeueRegular.ttf') format('truetype'), url('../fonts/BebasNeueRegular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
