.footer {
    padding-top: 40px;
    padding-bottom: 60px;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 950px) {
        flex-wrap: wrap;
    }
}

.footer__logo {
    @media (max-width: 950px) {
        justify-content: center;
        width: 45%;
    }
}

.footer__socials {
    display: flex;
    align-items: center;

    a {
        margin-right: 25px;

        &:last-child {
            margin-right: 0;
        }
    }

    @media (max-width: 950px) {
        justify-content: end;
        width: 45%;
    }
}

.footer__tel,
.footer__location,
.footer__mail {
    display: flex;
    align-items: center;

    img {
        margin-right: 14px;
    }

    p {
        font-weight: 500;
        font-size: 19px;
        color: #1E2C34;
    }

    @media (max-width: 950px) {
        margin-top: 30px;
        width: auto;
    }
}

.footer__tel {
    @media (max-width: 950px) {
        justify-content: start;
    }

    @media (max-width: 500px) {
        padding-right: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}

.footer__location {
    @media (max-width: 950px) {
        justify-content: center;
    }

    @media (max-width: 500px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.footer__mail {
    @media (max-width: 950px) {
        justify-content: end;
    }

    @media (max-width: 720px) {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}