.questions {
    padding-top: 80px;
    padding-bottom: 70px;

    @media (max-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.questions__title {
    margin-bottom: 42px;
    color: #000;
    text-align: center;
}

.questions__item {
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }

    @media (max-width: 768px) {
        margin-bottom: 30px;
    }

    @media (max-width: 550px) {
        margin-bottom: 20px;
    }
}

.question__item-title {
    display: flex;
    align-items: center;
    cursor: pointer;

    p {
        span {
            font-weight: 900;
            font-size: 26px;
            color: #000;
            border-bottom: 3px dotted #000;

            @media (max-width: 768px) {
                font-size: 24px;
            }

            @media (max-width: 550px) {
                font-size: 20px;
            }

            @media (max-width: 450px) {
                font-size: 18px;
            }
        }

    }
}

.question__item-icon {
    margin-right: 7px;
    transition: all 0.2s ease-out;
}

.question__item-icon_active {
    transform: rotate(90deg);
    transition: all 0.2s ease-out;
}

.question__item-desc {
    margin-top: 16px;
    margin-left: 20px;
    font-weight: 500;
    font-size: 16px;
    color: #666666;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}